<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系#hope_webname#</title>
<meta name="keywords" content="#HOPE_Meta_Keywords(1)#" />
<meta name="description" content="#HOPE_Meta_Description(1)#" />
<link href="/css/c.css" rel="stylesheet" type="text/css" />
#BM_indextop#
<div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>当前位置 : </span><a href="/index.html">公司主页</a> &gt;&gt; <a href="/Contact.html" title="联系我们">联系我们</a> </div>
	  <div class="page-products">
      <ul class="clearfix">

<table class="con-add">
<tbody><tr>
<td valign="top">
 <strong>spiraxsarco International</strong><br> 816 Maple Street<br> Three Rivers, MI 49093<br> <strong>USA</strong><br> Phone: (269) 273-1415<br> Fax: (269) 278-6555<br> Complete and submit form below.<br> 
</td>
<td valign="top">
<strong>spiraxsarco International, SA.</strong><br> Parc Industriel Des Hauts-Sarts<br> B-4040 Herstal<br> Liege, <strong>Belgium</strong><br> Phone: (32) (04) 2409090<br> Fax: (32) (04) 2481361<br> E-Mail: info@<strong>spiraxsarco</strong>international.eu 
</td>
</tr>
<tr>
<td valign="top">
<strong>彪维流体设备(上海)有限公司</strong><br>#HOPE_address#<br> 邮编：201406, <strong>P.R. China</strong><br>电话：#HOPE_tel#<br> 传真：86-#HOPE_fax#<br> 电子邮件：info@<strong>spiraxsarcocn</strong>.com
</td>
<td valign="top">
<strong>spiraxsarco International Private Limited</strong><br> Mahindra World City, P46, Eighth Avenue<br> Anjur Village, Nathm Sub<br> Chengalpattu 603 002<br> <strong>India</strong><br> Phone: (044) 37474444<br> Fax: (044) 37474440<br> E-Mail: sales@<strong>spiraxsarco</strong>international.in
</td>
</tr>
<tr>
<td valign="top">
<strong>spiraxsarco International Mexico S de RL de CV</strong><br> Calle Industria 1228-A<br> Col. El Mirador, Zona Oblatos.<br> Guadalajara, JAL 44380<br> <strong>Mexico</strong><br> Phone: +52 (33) 3883-1790<br> E-Mail: dmondragon@<strong>spiraxsarco</strong>international.com 
</td>
<td valign="top">
<strong>spiraxsarco Service France</strong><br> Port 4008 - Route du Hoc<br> 76700 Gonfreville L'Orcher<br><strong>France</strong><br> Phone: +33(0)2 35 53 68 35<br> Fax: +33 (0)2 35 53 68 37<br> E-Mail: info.fr@<strong>spiraxsarco</strong>international.eu <br>N<sup>o</sup> SIRET 482 718 491 00020
</td>
</tr>
<tr>
<td valign="top">
<strong>spiraxsarco International SA</strong><br> Manchester Business Park<br> 3000 Aviator Way<br> M22 5TG - Manchester<br> <strong>United Kingdom</strong><br> Phone: +44 01612662279<br> Fax: +44 01612661001<br> E-Mail: info.uk@<strong>spiraxsarco</strong>international.eu
</td>
<td valign="top">
<strong>spiraxsarco International Korea Co., Ltd.</strong><br> 3-Na, 503Ho, 1289-2 Jeongwang-dong<br> Siheung-si, Gyeonggi-do 429-850<br> <strong> South Korea</strong><br> Phone: (82)(031) 497-5310<br> FAX: (82)(031) 433-6924<br> E-Mail: empark@spiraxsarcokorea.com
</td>
</tr>
<tr>
<td valign="top">

<strong>Veris - Flow Measurement</strong><br>6315 Monarch Park Place<br>Niwot, CO 80503<br><strong>USA</strong><br>Phone: (303) 652-8550<br>Fax: (303) 652-8552<br> Complete and submit form below.<br>

</td>
<td valign="top">

</td>
</tr>
</tbody></table>
#HOPE_Contact()#</ul>
<div class="page_list">
  <div class="list_info"></div>
</div>
      </div>
    </div>
    <div class="page-left">
      <div class="left-products">
        <span>产品展示</span>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
#HOPE_ProductsCat()#
          </ul>
        </div>
      </div>
      <div class="left-search">
        <span>站内搜索</span>
<form id="form2" name="form2" method="post" action="/Search.asp?action=search">
          <p>
            <input name="ProductsName" type="text" id="ProductsName" value="找找看" size="18"  class="Font_666666_a" onfocus="this.value='';" />
            <input name="searchbutton" type="submit" id="searchbutton" value="" />
          </p>
        </form>
      </div><div class="index-contact">

</div></div>
</div>
    #BM_botten#
</div>
</body>
</html>