<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>#hope_meta_title(1)#,#hope_webname#</title>
<meta name="keywords" content="#hope_meta_keywords(1)#">
<meta name="description" content="#hope_meta_description(1)#">
<meta name="author" content="泵阀网"/>
<link href="/img/css.css"type=text/css rel=stylesheet>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
</head><body><div align="center">#BM_indextop#</div>
<div align="center"><table width=986 height="260" border=0 cellpadding=0 cellspacing=0 style=""><tr>
<td width=216 height="260" valign=top><table width=210 height="56" border=0 cellpadding=0  cellspacing=0><tr>
<td class=in2 width=216 height=28 valign="middle"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="style3">新闻中心 | news</span></strong></span></td>
</tr><tr><td height="28" align="left"valign=top>#newsindex()#</td></tr></table>
<TABLE style="" cellSpacing=0 cellPadding=0 width=210 align=center border=0><TR><TD class=in2 height=27>
<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
<TR><TD width="29%">&nbsp;</TD><TD width="71%">服务热线</TD></TR></TABLE></TD></TR>
<TR><TD class=border1 vAlign=top bgColor=#fcfcfc height=125>
<TABLE class=title3 height=35 width=210><TD width=200>电话：#HOPE_tel#</TD></TABLE>
<TABLE class=title3 height=35 width=210><TD width=200>传真：#HOPE_fax#</TD></TABLE>
<TABLE class=title3 height=35 width=210><TD width=200>手机：#HOPE_WebMsn#</TD></TABLE>
<TABLE class=title3 height=35 width=210>
<TD vAlign=middle align=center width=41><strong>QQ:</strong></TD><TD width=157><A href="http://wpa.qq.com/msgrd?Menu=no&Exe=QQ&Uin=#HOPE_WebQQ#" target=blank>
<IMG alt=点击这里给我发消息 src="/img/13_online.gif" border="0"></A></TD></TABLE></TD></TABLE><table width="210"><tr>
<td height="37"><form id="form2" name="form2" method="post" action="/Search.asp?action=search"><table width="98%" border="0" cellpadding="0" cellspacing="0"><tr>
<td width="84%">产品名称<input name="ProductsName" type="text" id="ProductsName" value="找找看" size="12"  class="Font_666666_a" onfocus="this.value='';" /></td>
<td width="16%"><input name="image" type="image" src="/skin/blue/Images/cp_21.jpg" /></td></tr></table></form></td></tr></table>
<td width="550" valign=top><table width=550 ><tr><td class=in1 width=545 height=24>
<table  width=545 ><tr><td width=79 align="left" ><img height=12 src="/img/arr1.gif"
width=12> <span class=red><a href="/about/">关于我们</a></span></td></tr></table></td></tr><tr></tr><tr><td>#BM_about#</td></tr></tbody></table>
<table width=545 ><tr><td class=in1width=545 height=24>
<table width=545 ><tr><td width=243 align="left"><img height=12 src="/img/arr1.gif"width=12> 
<span class=red><a href="/valve/">阀门展示</a></span></td></tr></table></td></tr><tr></tr><tr><td height="13" valign="top">#prodIndex()##prodIndex1()#</tr></tbody>
</table><td width=216 align="right" valign=top><table width="210" border="0" cellpadding="0" cellspacing="0"><tr>
<td class=in2  height="27"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="style3">法兰标准</span></strong></td></tr><tr><td>#serviceindex2()#</td></tr><tr>
<td class=in2  height="27"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="style3">阀门知识|valve</span></strong></td></tr><tr><td>#serviceindex()#</td></tr></table>
</TABLE></td></tr></table></div><div align="center">#BM_indexfoot#</div></body></html>
