<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#HOPE_Meta_Title(3)#_#HOPE_Title#_#hope_webname#</title><meta name="keywords" content="#HOPE_Meta_Keywords(3)#">
<meta name="description" content="#HOPE_Meta_Description(3)#">
<META content=阀门，球阀，闸阀 name=classification>
<LINK href="/img/css.css"type=text/css rel=stylesheet>
<link href="/css/webmain.css" rel="stylesheet" type="text/css">
</head><body oncontextmenu="return false" onmousedown="return false">#BM_top#<table width="972" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="173" valign="top">
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/Skin/blue/Images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight">新闻分类</td>
<td width="5"><img src="/Skin/blue/Images/menu_right.jpg" width="5" height="29" /></td></tr><tr>
<td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">#HOPE_NewsCat(4,1)#</td></tr></table><DIV style="clear:both;"></DIV>
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/Skin/blue/Images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight">产品分类</td>
<td width="5"><img src="/Skin/blue/Images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">
#HOPE_ProductsCat()#</td></tr></table><DIV style="clear:both;"></DIV><DIV style="PADDING-TOP:3px"></DIV>
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0" class="Table_boder"><tr><td width="71" rowspan="4" align="right">
<img src="../../Skin/blue/Images/service.jpg" width="70" height="130" /></td>
    <td width="81">&nbsp;<A href="/Contact.html" class="0a">业务联系</A></td></tr><tr>
      <td height="30">&nbsp;<a href="/job/" class="0a">人才招聘</a></td></tr><tr>
  <td height="30">&nbsp;<a href="/Contact.html" class="0a">客服电话</a></td></tr><tr>
    <td height="30">&nbsp;<a href="/msg.html" class="0a">在线联系</a></td></tr></table></td><td width="812" valign="top" ><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0"><tr>
<td width="5"><img src="/Skin/blue/Images/menu_left.jpg" width="5" height="29" /></td><td width="28" align="right" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight">
<img src="/Skin/blue/Images/index_01.jpg" width="12" height="5" /></td>
<td width="395" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight">&nbsp;首页 -新闻资讯 -<A href="#HOPE_CatID#.html" class="F_a">#HOPE_TITLE#</A></td>
<td width="395" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight"></td>
<td width="6"><img src="/Skin/blue/Images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td height="465" colspan="5" valign="top" class="in4">
<div align="left"><table width="810" height="58" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="814">#Hope_body# </td></tr></table></div></td>
</tr></table></td></tr></table>#BM_botten#</div></body></html>