<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#HOPE_TITLE#_#hope_webname#</title>
<meta name="keywords" content="#HOPE_TITLE#,#HOPE_NewsKeywords#">
<meta name="description" content="#HOPE_NewsDescription#">
<META content=阀门，球阀，闸阀 name=classification><LINK href="/img/css.css"type=text/css rel=stylesheet>
<link href="/css/webmain.css" rel="stylesheet" type="text/css">
</head><body oncontextmenu="return(false)" oncopy="return false;" oncut="return false;" onselectstart="return false">
#BM_top#<table width="972" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td width="173" height="239" valign="top">
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/Skin/blue/Images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight">新闻分类</td><td width="5">
<img src="/Skin/blue/Images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">
#HOPE_NewsCat(4,1)#</td></tr></table><DIV style="clear:both;"></DIV><DIV style="PADDING-TOP:3px"></DIV>
<table width="165" border="0" align="left" cellpadding="0" cellspacing="0"><tr><td width="5"><img src="/Skin/blue/Images/menu_left.jpg" width="5" height="29" /></td>
<td width="155" align="center" background="/Skin/blue/Images/menu_bg.jpg" class="F_a Font-Weight">产品分类</td><td width="5">
<img src="/Skin/blue/Images/menu_right.jpg" width="5" height="29" /></td></tr><tr><td colspan="3" bgcolor="#F4F4F4" class="Corporation_left">#HOPE_ProductsCat()#</td></tr>
</table><DIV style="clear:both;"></DIV><table width="165" border="0" align="left" cellpadding="0" cellspacing="0" class="Table_boder"><tr>
<td width="71" rowspan="4" align="right"><img src="../../Skin/blue/Images/service.jpg" width="70" height="130" /></td>
<td width="74" height="30">&nbsp;<A href="/Contact.html" class="0a">业务联系</A></td></tr><tr><td height="30">&nbsp;<a href="/job/" class="0a">人才招聘</a></td>
</tr><tr><td height="30">&nbsp;<a href="/Contact.html" class="0a">客服电话</a></td></tr><tr><td height="30">&nbsp;<a href="/msg.html" class="0a">在线联系</a></td>
</tr></table></td><td width="812" valign="top" ><table width="812" border="0" align="right" cellpadding="0" cellspacing="0"><tr>
<td width="7" height="25" background="../../Skin/blue/Images/news_news.jpg"></td><td width="817" align="center"><div align="center">
<A href="/" class="Font_000000_B_a">首页</A> - <A href="/news/" class="Font_000000_B_a">新闻资讯</A> - <A href="/news/#Hope_TypeID#.html" class="Font_000000_B_a">#Hope_Catname#</A></div>
</td></tr><tr><td colspan="2" valign="top"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="40" align="center" class="Font-Weight Font_Size in4">#HOPE_TITLE#</td></tr><tr><td height="74" align="left" valign="top" class="news_sp in4">
<p>#Hope_body#&nbsp;</p>
<p>以上内容由彪维公司（www.bilvie.com）编写，转载请注明文章出处。</p></td>
</tr></table><table width="95%" border="0" align="center"><tr><td height="30" class="Font-Weight">&nbsp;上一条：#Hope_Previous# &nbsp;&nbsp;&nbsp;&nbsp;
下一条：#Hope_Next#</td></table></td></table></td></table>#BM_botten#</div></body></html>