<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>#HOPE_TITLE#|#HOPE_prodKeywords#</title>
<meta name="keywords" content="#HOPE_prodKeywords#" />
<meta name="description" content="#HOPE_prodDescription#">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta name="classification" content="#HOPE_TITLE#"/>
<link href="/css/c.css" rel="stylesheet" type="text/css">
#BM_indextop#
<div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>当前位置 : </span><a href="/index.html">公司主页</a> - <a href="/valve/">产品展示</a> - #HOPE_TITLE#</div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="in4">
	    <tr><td width="19%" height="151" align="center" valign="top" class="in5"><img src="#HOPE_IMG#" alt="#HOPE_TITLE#" width="160" height="134" /></td>
<td width="41%" valign="top" class="in5"><table width="100%" height="151" border="0"">
  <tr>
  <td width="24%" height="20" class="Font-Weight">产品名称：</td><td width="76%" class="Font_2E4690_a Font-Weight">#HOPE_TITLE#</td></tr><tr>
  <td height="20" class="Font-Weight">产品型号：</td><td class="Font-Weight Font_2E4690_a">#HOPE_ProdCode#</td></tr><tr>
  <td height="27" colspan="2" align="left">
<A href="tencent://message/?uin=#HOPE_WebQQ#&Site=彪维流体设备（上海）有限公司&Menu=yes" target=blank><IMG src="/images/gmzx.gif" border=0></A></td>
</tr><tr>
  <td height="26" colspan="2" align="left"><span class="Font_FF0000_a Font-Weight">咨询电话：#HOPE_tel#</span></td>
</tr>
<tr>
  <td height="22" colspan="2" align="left"><span class="Font_FF0000_a Font-Weight">传真：#HOPE_fax#</span></td>
</tr>
<tr>
  </tr>
</table></td>
<td width="40%" valign="top">#Hope_Random#</td>
	  </tr></table>
      <div class="page-products">
      <ul class="clearfix">
        <table width="100%" border="0"><tr>
<td height="30" class="prod_bottom_dasheds">产品介绍</td>
</tr><tr>
  <td height="15" align="left" valign="top" class="prod_sp">#HOPE_BODY#<br></td>
</tr></table>
      </ul>
      <div class="page_list">
  <div class="list_info"></div>
</div>
      </div>
    </div>
    <div class="page-left">
      <div class="left-products">
        <h2><span>产品展示</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
#HOPE_ProductsCat()#
          </ul>
        </div>
      </div>
      <div class="left-search">
        <h2><span>站内搜索</span></h2>
<form id="form2" name="form2" method="post" action="/Search.asp?action=search">
          <p>
            <input name="ProductsName" type="text" id="ProductsName" value="找找看" size="18"  class="Font_666666_a" onFocus="this.value='';" />
            <input name="searchbutton" type="submit" id="searchbutton" value="" />
          </p>
        </form>
      </div><div class="index-contact">

</div></div>
</div>
    #BM_botten#
</div><style>
.diy{height: 478px;width: 120px;background: rgb(147, 153, 229);position: fixed;top:60px;padding: 10px;font-size: 15px;color: rgb(253, 253, 253);border-radius: 0 5px 5px 0;}
.diy ul li{background-color: rgb(88, 121, 187);padding: 2px 7px;margin: 2px 0;border-radius: 2px;}
.diy ul li:hover{background-color:black;}
.diy ul li a{color:white;}
</style>
<div class="diy">
	<ul>
		<li><a href="/valve/1.html" target="_blank">斯派莎克闸阀</a></li>
		<li><a href="/valve/3.html" target="_blank">斯派莎克球阀</a></li>
		<li><a href="/valve/2.html" target="_blank">斯派莎克蝶阀</a></li>
		<li><a href="/valve/9.html" target="_blank">斯派莎克疏水阀</a></li>
		<li><a href="/valve/4.html" target="_blank">斯派莎克截止阀</a></li>
		<li><a href="/valve/21.html" target="_blank">斯派莎克安全阀</a></li>
		<li><a href="/valve/17.html" target="_blank">斯派莎克减压阀</a></li>
		<li><a href="/valve/20.html" target="_blank">斯派莎克过滤器</a></li>
		<li><a href="/valve/435.html" target="_blank">斯派莎克温控阀</a></li>
		<li><a href="/valve/6.html" target="_blank">斯派莎克止回阀</a></li>
		<li><a href="/valve/10.html" target="_blank">斯派莎克排气阀</a></li>
		<li><a href="/valve/19.html" target="_blank">斯派莎克控制阀</a></li>
		<li><a href="/valve/24.html" target="_blank">斯派莎克角座阀</a></li>
		<li><a href="/valve/559.html" target="_blank">斯派莎克组合泵</a></li>
		<li><a href="/valve/558.html" target="_blank">斯派莎克观视镜</a></li>
		<li><a href="/valve/561.html" target="_blank">斯派莎克其它阀</a></li>
		<li><a href="/valve/557.html" target="_blank">斯派莎克配件</a></li>
	</ul>
</div>
<style>
.rides-cs{position: fixed;top: 92px;right: 0px;background-color: rgb(147, 153, 229);border-radius: 3px 0 0 3px;padding: 5px;}
.rides-cs .cn{background: #F7F7F7;margin: 5px;padding: 10px;}
.rides-cs .cn h3{margin-bottom: 10px;}
.rides-cs .cn ul li {line-height: 38px;height: 38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;}
.rides-cs .floatL h5{font-size: 18px;color: white;font-weight: 100;margin-left: 10px;}
.rides-cs .cn ul{margin-bottom: 10px;}
.rides-cs .cn ul li img {vertical-align: middle;}
</style>
<div id="floatTools" class="rides-cs">
	<div class="floatL">
		<h5>在线客服</h5> </div>
	<div id="divFloatToolsView" class="floatR" style="">
		<div class="cn">
			<h3 class="titZx">产品销售</h3>
			<ul>
				<li><span>客服1</span>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2482914268&amp;site=qq&amp;menu=yes">
				<img border="0" src="http://wpa.qq.com/pa?p=2:2482914268:51" alt="斯派莎克客服1"></a>
				</li>
				<li><span>客服2</span>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=17677862&amp;site=qq&amp;menu=yes">
				<img border="0" src="http://wpa.qq.com/pa?p=2:17677862:51" alt="斯派莎克客服2"></a>
				</li>
				<li><span>客服3</span>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2482914268&amp;site=qq&amp;menu=yes">
				<img border="0" src="http://wpa.qq.com/pa?p=2:2482914268:51" alt="斯派莎克客服1"></a>
				</li>
				<li><span>客服4</span>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=281047291&amp;site=qq&amp;menu=yes">
				<img border="0" src="http://wpa.qq.com/pa?p=2:281047291:51" alt="斯派莎克客服4"></a></li>
			</ul>
			<h3>阀门订制</h3>
			<ul>
				<li><span>订 制</span>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2482914268&amp;site=qq&amp;menu=yes">
				<img border="0" src="http://wpa.qq.com/pa?p=2:2482914268:51" alt="订制服务"></a></li>
			</ul>
			<h3>售后服务</h3>
			<ul>
				<li><span>售 后</span>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2482914268&amp;site=qq&amp;menu=yes">
				<img border="0" src="http://wpa.qq.com/pa?p=2:2482914268:51" alt="售后服务客服" title="售后服务客服"></a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
