<% data_path="/" 'ACC连接数据库路径，对SQL无效 %>
<!--#include file="conn/conn.asp"-->
<!--#include file="inc/safe.asp"-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=sprodname%>|产品搜索|#hope_webname#</title>
<meta name="keywords" content="<%=sprodname%>" />
<meta name="description" content="找到<%=sprodname%>" />
<link href="/css/c.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/js/ajaxrequest.js"></script><SCRIPT language="javascript">function add(){if(document.addform.name.value==""){alert("姓名不能为空!");document.addform.name.focus();return false;}
if(document.addform.address.value==""){alert("地址不能为空!");document.addform.address.focus();return false;}if(document.addform.phone.value==""){alert("电话不能为空!")
;document.addform.phone.focus();return false;}if(document.addform.email.value==""){alert("Email不能为空!");document.addform.email.focus();return false;}if(document.
addform.Title.value==""){alert("主题不能为空!");document.addform.Title.focus();return false;}var ajax=new AJAXRequest;ajax.setcharset("GB2312");ajax.postf(document.
getElementById("addform"),function(obj) { if(obj.responseText=="true"){alert("留言成功")}; });}</SCRIPT>
#BM_indextop#
<div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>当前位置 : </span><a href="/index.html">公司主页</a> &gt;&gt; <a href="/Search.asp" title="更多阀门产品，这找找看">产品搜索</a> </div>
	  <div class="page-products">
      <ul class="clearfix"><%
strsearch=request.QueryString("action")
ProductsName=trim(request("ProductsName"))
if ProductsName="" then
ProductsName="输入产品名称"
end if
if strsearch="search" then

if ProductsName="输入产品名称" then
Sql="Select * from benming_ch_prod where show=1"
else
Sql="Select * from benming_ch_prod where show=1 and prodName like '%"&ProductsName&"%' "
sprodname=ProductsName
end if

else
Sql="Select * from benming_ch_prod where show=1"
end if

%><table width="99%" border="0" align="center" cellpadding="0" cellspacing="0" >

<tr>
<td height="303" valign="top" class="prod_left_solid">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="28" colspan="2" class="search_bottom_solid">
<form id="form2" name="form2" method="post" action="?action=search">
<table width="95%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="3%">&nbsp;</td>

<td width="24%">产品名称：
<input name="ProductsName" type="text" id="ProductsName" value="<%=ProductsName%>" size="15"  class="Font_666666_a" onfocus="this.value='';" /></td>
<td width="73%"><input name="image" type="image" src="/skin/blue/Images/cp_21.jpg" /></td>
</tr>
</table>
</form>
</td>
</tr>
<tr>
<td width="3%" class="search_bottom_dashed">&nbsp;</td>
<td width="97%" height="25" class="search_bottom_dashed">首页 >> 搜索 <span class="Font_FF0000_a">“<%=sprodname%>” </span>结果： </td>
</tr>
</table>

<table width="98%" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<%


Set Rs=Server.CreateObject("ADODB.RecordSet")
Rs.open Sql,Conn,1,1
msg_per_page=6
%>
<!--#include file="inc/Headpage.asp"-->
<%
j=1
do while not rs.eof and rowcount > 0
%>
<td width="50%" valign="top" class="bottom_dashedl_line" height="100">
<table width="100%" height="100" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="39%" rowspan="2"><img src="<%=rs("smallpic")%>" width="150" height="94" /></td>
<td width="61%" height="20"><a href="/Product/<%=rs("id")%>.html" class="Font_2E4690_a Font-Weight"><%=rs("prodName")%></a></td>
</tr>
<tr>
<td valign="top" Class="prod_sp"><%=gotTopic(rs("remark"),150)%></td>
</tr>
</table>
</td>



<%

if j mod 2=0 then
response.Write "</tr><tr>"
end if
rowcount=rowcount-1
rs.movenext
j=j+1
loop
%>
<tr>
</table>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td height="45" align="center"><% listPages3("Search.asp")
Rs.close
Set Rs=nothing
%></td></tr></table></td>
</tr>
</table>
</ul>
<div class="page_list">
  <div class="list_info"></div>
</div>
  </div>
    </div>
    <div class="page-left">
      <div class="left-products">
        <h2><span>产品展示</span></h2>
        <div id="LeftMenu" class="ddsmoothmenu-v">
          <ul>
#HOPE_ProductsCat()#
          </ul>
        </div>
      </div>
      <div class="left-search">
        <h2><span>站内搜索</span></h2>
<form id="form2" name="form2" method="post" action="/Search.asp?action=search">
          <p>
            <input name="ProductsName" type="text" id="ProductsName" value="找找看" size="18"  class="Font_666666_a" onfocus="this.value='';" />
            <input name="searchbutton" type="submit" id="searchbutton" value="" />
          </p>
        </form>
      </div><div class="index-contact">

</div></div>
</div>
    #BM_botten#
</div>
</body>
</html>